button.downloadButton {
    display: block;
	font-size:200%;
    float: left;
	color: gold;
	text-align: center;
	background-color: #404040 !important;
    
	position: static;
    padding: 10px 20px 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;

    transition: all 0.2s;
    transition-webkit-: all 0.2s;
    transitione-moz-: all 0.2s;
    transition-o-: all 0.2s;
}