#WeThreeKingsImg {
	background-image: url("../about/images/WeThreeKings.png");
}

#SBMteamImg {
	background-image: url("../about/images/SBMteam.png");
}

#ThreeMonkeysImg {
	background-image: url("../about/images/ThreeMonkeys.png");
}

#Sim_NineImg {
	background-image: url("../about/images/Sim_Nine.png");
}

@keyframes zoom {
	from {background-size: 300px;}
	to {background-size: 750px;}
}

@keyframes zoom-out {
	from {background-size: 750px;}
	to {background-size: 300px;}
}

.bioImg {
	opacity: 0.5;
	background-size: 300px;
	background-position: center;
	display: inline-block;
	height: 300px;
	width: 300px;
}

.bioImgAnimated {
	opacity: 0.5;
	background-position: center;
	display: inline-block;
	height: 300px;
	width: 300px;
	animation-name: zoom-out;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

.bioImg:hover {
	opacity: 1.0;
}

.selectedAnimated {
	opacity: 1.0 !important;
	background-position: center;
	animation-name: zoom;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out
}

.selected {
	opacity: 1.0 !important;
	background-position: center;
	background-size: 750px;
}

ol {
	padding-inline-start: 0px;
}

.indicators li {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 6px;
	text-indent: -999px;
	background-color: rgba(0, 0, 0, 0);
	border-width: 0.8px;

	border: 1px solid;
	border-radius: 10px;
  }

.indicators .active {
	background-color: rgb(151, 129, 0);;
}

@media (max-aspect-ratio: 4/5) {
	.col-2 {
		width: 100%;
		display: block;
	}
}